.TodoInsert{

  display: flex;
  background: darkgray;
}

//Todoinsert 자손 input 태그
Input{
  background: none;
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: white;
  //placeholder가 있을 때
  &::placeholder{
    color: #a6a2a2;
  }
  // 버튼 영역을 제외한 영역
  flex: 1;


}
button{
  background: pink;
  outline: none;
  border: none;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem ;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s background ease-in;
  &:hover{
    background: #3d913d;
  }

}